body {
  background: blanchedalmond;
}

header, main, footer {
  border: 1px solid blue;
  background-color: gray;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex-grow:5;
}

header, footer  {
  flex-grow: 1;
}




@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  header {
    width: 100%;
  }
  main {
    margin: 1em;
  }
  header {
    margin: 1 em;
  }
  footer{
    margin: 1em;
  }
}